body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

/* main styles */

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

.sidebar {
    background-color:#1E2939;
    padding-top: 40px;
    width: 370px;
   
    left: 40px;
    top: 40px;
}

.main_content {
    padding: 95px 90px;
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* about styles */

.about {
    margin-bottom: 60px;
}

.about_position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 50px;
}

.about_name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 50px;
}

.about_description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

/* projects */
.projects {
   margin-bottom: 50px;
}
.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}
.projects_list {
    padding: 0;
    margin-left: 15px;
}
.project-item, .project_bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project, 
.project_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    
}

.project_link {
    margin-left: 10px;
}

.work {
   
}

.work-position {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.orange {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;

}

.work-list {
    padding: 0;
    margin-left: 15px;
}

.work-list-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.qualification {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

}

.photo {
   width: 370px;
   margin-bottom: 50px ;
}

.sidebire-title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;  
    margin-bottom: 10px;
}

.contacts,
.tech_skills,
.soft_Skills {
    margin-left: 40px;
    margin-bottom: 45px;
} 

.contact_type {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 10px;
}

.contact_link {
    color:#565e6a;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.skills_list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 20px;
}

.skills_item {
    color: #FB6D3A;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.skills_text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}